{% extends 'base.html.twig' %}

{% block title %}Home | NRV{% endblock %}

{% block body %}
          <div class="cs-site-content cs-sidebar-enabled cs-sidebar-right">
            <div class="cs-container">
              <section class="cs-home-hero cs-hero-type-1">
                <div class="cs-hero-type-1__slider" data-cs-autoplay="1" data-cs-autoplay-delay="5000" data-cs-parallax="1" data-cs-gap="32">
                  <div class="cs-hero-type-1__wrapper" data-scheme="inverse">
                    <article class="cs-hero-type-1__item cs-entry">
                      <div class="cs-entry__outer cs-entry__overlay cs-overlay-ratio cs-ratio-landscape-slider">
                        <div class="cs-entry__inner cs-entry__thumbnail">
                          <div class="cs-overlay-background">
                            <img width="512" height="314" src="https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0201-512x314.webp" class="attachment-csco-thumbnail-uncropped size-csco-thumbnail-uncropped wp-post-image" alt="Evolving Workspaces: The Rise of the Hybrid Work Trend" decoding="async" fetchpriority="high" srcset="https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0201-512x314.webp 512w, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0201-300x184.webp 300w, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0201-1024x627.webp 1024w, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0201-768x470.webp 768w, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0201-1536x941.webp 1536w, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0201-2048x1254.webp 2048w, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0201-920x564.webp 920w, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0201-1600x980.webp 1600w, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0201-3200x1960.webp 3200w, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0201-1920x1176.webp 1920w, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0201.webp 3840w" sizes="(max-width: 512px) 100vw, 512px" />
                            <img width="1600" height="980" src="https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0201-1600x980.webp" class="attachment-csco-large-uncropped size-csco-large-uncropped wp-post-image" alt="Evolving Workspaces: The Rise of the Hybrid Work Trend" decoding="async" srcset="https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0201-1600x980.webp 1600w, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0201-300x184.webp 300w, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0201-1024x627.webp 1024w, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0201-768x470.webp 768w, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0201-1536x941.webp 1536w, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0201-2048x1254.webp 2048w, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0201-512x314.webp 512w, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0201-920x564.webp 920w, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0201-3200x1960.webp 3200w, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0201-1920x1176.webp 1920w, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0201.webp 3840w" sizes="(max-width: 1600px) 100vw, 1600px" />
                          </div>
                        </div>
                        <div class="cs-entry__inner cs-entry__content cs-overlay-content" data-swiper-parallax-x="-400" data-swiper-parallax-duration="800">
                          <div class="cs-entry__post-meta">
                            <div class="cs-meta-author">
                              <span class="cs-meta-author-by">By</span>
                              <a class="cs-meta-author-link url fn n" href="https://swyft.codesupply.co/lifestyle/author/joanna/">
                                <span class="cs-meta-author-name">Joanna Wellick</span>
                              </a>
                            </div>
                            <div class="cs-meta-date">May 8, 2023</div>
                          </div>
                          <h2 class="cs-entry__title"> Evolving Workspaces: The Rise of the Hybrid Work Trend</h2>
                          <div class="cs-entry__subtitle"> Leveraging technology in daily routines and work, individuals can now experience a seamless blend of business, work, and leisure.</div>
                          <div class="cs-entry__post-meta">
                            <div class="cs-meta-category">
                              <ul class="post-categories">
                                <li>
                                  <a href="https://swyft.codesupply.co/lifestyle/category/trends/" rel="category tag">Trends</a>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <a class="cs-overlay-link" href="https://swyft.codesupply.co/lifestyle/2023/05/08/evolving-workspaces-the-rise-of-the-hybrid-work-trend/" title="Evolving Workspaces: The Rise of the Hybrid Work Trend"></a>
                      </div>
                    </article>
                    <article class="cs-hero-type-1__item cs-entry">
                      <div class="cs-entry__outer cs-entry__overlay cs-overlay-ratio cs-ratio-landscape-slider">
                        <div class="cs-entry__inner cs-entry__thumbnail">
                          <div class="cs-overlay-background">
                            <img width="512" height="314" src="https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0202-512x314.webp" class="attachment-csco-thumbnail-uncropped size-csco-thumbnail-uncropped wp-post-image" alt="Decoding Cryptocurrency: Beyond Bitcoin and the Future of Finance" decoding="async" srcset="https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0202-512x314.webp 512w, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0202-300x184.webp 300w, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0202-1024x627.webp 1024w, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0202-768x470.webp 768w, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0202-1536x941.webp 1536w, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0202-2048x1254.webp 2048w, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0202-920x564.webp 920w, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0202-1600x980.webp 1600w, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0202-3200x1960.webp 3200w, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0202-1920x1176.webp 1920w, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0202.webp 3840w" sizes="(max-width: 512px) 100vw, 512px" />
                            <img width="1600" height="980" src="https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0202-1600x980.webp" class="attachment-csco-large-uncropped size-csco-large-uncropped wp-post-image" alt="Decoding Cryptocurrency: Beyond Bitcoin and the Future of Finance" decoding="async" srcset="https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0202-1600x980.webp 1600w, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0202-300x184.webp 300w, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0202-1024x627.webp 1024w, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0202-768x470.webp 768w, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0202-1536x941.webp 1536w, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0202-2048x1254.webp 2048w, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0202-512x314.webp 512w, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0202-920x564.webp 920w, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0202-3200x1960.webp 3200w, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0202-1920x1176.webp 1920w, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0202.webp 3840w" sizes="(max-width: 1600px) 100vw, 1600px" />
                          </div>
                        </div>
                        <div class="cs-entry__inner cs-entry__content cs-overlay-content" data-swiper-parallax-x="-400" data-swiper-parallax-duration="800">
                          <div class="cs-entry__post-meta">
                            <div class="cs-meta-author">
                              <span class="cs-meta-author-by">By</span>
                              <a class="cs-meta-author-link url fn n" href="https://swyft.codesupply.co/lifestyle/author/liam/">
                                <span class="cs-meta-author-name">Liam Anderson</span>
                              </a>
                            </div>
                            <div class="cs-meta-date">May 3, 2023</div>
                          </div>
                          <h2 class="cs-entry__title"> Decoding Cryptocurrency: Beyond Bitcoin and the Future of Finance</h2>
                          <div class="cs-entry__subtitle"> Leveraging technology in daily routines and work, individuals can now experience a seamless blend of business, work, and leisure.</div>
                          <div class="cs-entry__post-meta">
                            <div class="cs-meta-category">
                              <ul class="post-categories">
                                <li>
                                  <a href="https://swyft.codesupply.co/lifestyle/category/technology/" rel="category tag">Technology</a>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <a class="cs-overlay-link" href="https://swyft.codesupply.co/lifestyle/2023/05/03/decoding-cryptocurrency-beyond-bitcoin-and-the-future-of-finance/" title="Decoding Cryptocurrency: Beyond Bitcoin and the Future of Finance"></a>
                      </div>
                    </article>
                    <article class="cs-hero-type-1__item cs-entry">
                      <div class="cs-entry__outer cs-entry__overlay cs-overlay-ratio cs-ratio-landscape-slider">
                        <div class="cs-entry__inner cs-entry__thumbnail">
                          <div class="cs-overlay-background">
                            <img width="512" height="314" src="https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0203-512x314.webp" class="attachment-csco-thumbnail-uncropped size-csco-thumbnail-uncropped wp-post-image" alt="A Solo Traveler&#039;s Guide to Exploring Southeast Asia Safely" decoding="async" srcset="https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0203-512x314.webp 512w, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0203-300x184.webp 300w, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0203-1024x627.webp 1024w, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0203-768x470.webp 768w, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0203-1536x941.webp 1536w, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0203-2048x1254.webp 2048w, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0203-920x564.webp 920w, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0203-1600x980.webp 1600w, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0203-3200x1960.webp 3200w, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0203-1920x1176.webp 1920w, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0203.webp 3840w" sizes="(max-width: 512px) 100vw, 512px" />
                            <img width="1600" height="980" src="https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0203-1600x980.webp" class="attachment-csco-large-uncropped size-csco-large-uncropped wp-post-image" alt="A Solo Traveler&#039;s Guide to Exploring Southeast Asia Safely" decoding="async" srcset="https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0203-1600x980.webp 1600w, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0203-300x184.webp 300w, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0203-1024x627.webp 1024w, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0203-768x470.webp 768w, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0203-1536x941.webp 1536w, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0203-2048x1254.webp 2048w, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0203-512x314.webp 512w, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0203-920x564.webp 920w, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0203-3200x1960.webp 3200w, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0203-1920x1176.webp 1920w, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0203.webp 3840w" sizes="(max-width: 1600px) 100vw, 1600px" />
                          </div>
                        </div>
                        <div class="cs-entry__inner cs-entry__content cs-overlay-content" data-swiper-parallax-x="-400" data-swiper-parallax-duration="800">
                          <div class="cs-entry__post-meta">
                            <div class="cs-meta-author">
                              <span class="cs-meta-author-by">By</span>
                              <a class="cs-meta-author-link url fn n" href="https://swyft.codesupply.co/lifestyle/author/joanna/">
                                <span class="cs-meta-author-name">Joanna Wellick</span>
                              </a>
                            </div>
                            <div class="cs-meta-date">Apr 28, 2023</div>
                          </div>
                          <h2 class="cs-entry__title"> A Solo Traveler&#8217;s Guide to Exploring Southeast Asia Safely</h2>
                          <div class="cs-entry__subtitle"> Leveraging technology in daily routines and work, individuals can now experience a seamless blend of business, work, and leisure.</div>
                          <div class="cs-entry__post-meta">
                            <div class="cs-meta-category">
                              <ul class="post-categories">
                                <li>
                                  <a href="https://swyft.codesupply.co/lifestyle/category/travel/" rel="category tag">Travel</a>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <a class="cs-overlay-link" href="https://swyft.codesupply.co/lifestyle/2023/04/28/a-solo-travelers-guide-to-exploring-southeast-asia-safely/" title="A Solo Traveler&#8217;s Guide to Exploring Southeast Asia Safely"></a>
                      </div>
                    </article>
                  </div>
                  <div class="cs-hero-type-1__pagination"></div>
                  <div class="cs-hero-type-1__button-prev"></div>
                  <div class="cs-hero-type-1__button-next"></div>
                </div>
              </section>
              <div id="content" class="cs-main-content">
                <div id="primary" class="cs-content-area">
                  <div class="cs-posts-area cs-posts-area-posts">
                    <div class="cs-posts-area__outer">
                      <div class="cs-posts-area__main cs-archive-grid  cs-posts-area__home cs-posts-area__grid">
                        <article class="post-2098 post type-post status-publish format-standard has-post-thumbnail category-lifestyle cs-entry">
                          <div class="cs-entry__outer">
                            <div class="cs-entry__inner cs-entry__thumbnail cs-entry__overlay cs-overlay-ratio cs-ratio-landscape" data-scheme="inverse">
                              <div class="cs-overlay-background">
                                <img width="512" height="384" src="https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0212-512x384.webp" class="attachment-csco-thumbnail size-csco-thumbnail wp-post-image" alt="The Minimalist Movement: Tips for Decluttering Your Life and Mind" decoding="async" loading="lazy" srcset="https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0212-512x384.webp 512w, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0212-1024x768.webp 1024w" sizes="(max-width: 512px) 100vw, 512px" />
                              </div>
                              <a class="cs-overlay-link" href="https://swyft.codesupply.co/lifestyle/2023/09/30/the-minimalist-movement-tips-for-decluttering-your-life-and-mind/" title="The Minimalist Movement: Tips for Decluttering Your Life and Mind"></a>
                            </div>
                            <div class="cs-entry__inner cs-entry__content">
                              <div class="cs-entry__post-meta">
                                <div class="cs-meta-author">
                                  <span class="cs-meta-author-by">By</span>
                                  <a class="cs-meta-author-link url fn n" href="https://swyft.codesupply.co/lifestyle/author/joanna/">
                                    <span class="cs-meta-author-name">Joanna Wellick</span>
                                  </a>
                                </div>
                                <div class="cs-meta-date">Sep 30, 2023</div>
                              </div>
                              <h2 class="cs-entry__title">
                                <a href="https://swyft.codesupply.co/lifestyle/2023/09/30/the-minimalist-movement-tips-for-decluttering-your-life-and-mind/">
                                  <span>The Minimalist Movement: Tips for Decluttering Your Life and Mind</span>
                                </a>
                              </h2>
                              <div class="cs-entry__post-meta">
                                <div class="cs-meta-category">
                                  <ul class="post-categories">
                                    <li>
                                      <a href="https://swyft.codesupply.co/lifestyle/category/lifestyle/" rel="category tag">Lifestyle</a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </article>
                        <article class="post-2096 post type-post status-publish format-standard has-post-thumbnail category-technology cs-entry">
                          <div class="cs-entry__outer">
                            <div class="cs-entry__inner cs-entry__thumbnail cs-entry__overlay cs-overlay-ratio cs-ratio-landscape" data-scheme="inverse">
                              <div class="cs-overlay-background">
                                <img width="512" height="384" src="https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0214-512x384.webp" class="attachment-csco-thumbnail size-csco-thumbnail wp-post-image" alt="The IoT Ecosystem: Smart Devices and Their Impact on Our Daily Lives" decoding="async" loading="lazy" srcset="https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0214-512x384.webp 512w, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0214-1024x768.webp 1024w" sizes="(max-width: 512px) 100vw, 512px" />
                              </div>
                              <a class="cs-overlay-link" href="https://swyft.codesupply.co/lifestyle/2023/09/25/the-iot-ecosystem-smart-devices-and-their-impact-on-our-daily-lives/" title="The IoT Ecosystem: Smart Devices and Their Impact on Our Daily Lives"></a>
                            </div>
                            <div class="cs-entry__inner cs-entry__content">
                              <div class="cs-entry__post-meta">
                                <div class="cs-meta-author">
                                  <span class="cs-meta-author-by">By</span>
                                  <a class="cs-meta-author-link url fn n" href="https://swyft.codesupply.co/lifestyle/author/liam/">
                                    <span class="cs-meta-author-name">Liam Anderson</span>
                                  </a>
                                </div>
                                <div class="cs-meta-date">Sep 25, 2023</div>
                              </div>
                              <h2 class="cs-entry__title">
                                <a href="https://swyft.codesupply.co/lifestyle/2023/09/25/the-iot-ecosystem-smart-devices-and-their-impact-on-our-daily-lives/">
                                  <span>The IoT Ecosystem: Smart Devices and Their Impact on Our Daily Lives</span>
                                </a>
                              </h2>
                              <div class="cs-entry__post-meta">
                                <div class="cs-meta-category">
                                  <ul class="post-categories">
                                    <li>
                                      <a href="https://swyft.codesupply.co/lifestyle/category/technology/" rel="category tag">Technology</a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </article>
                        <article class="post-2094 post type-post status-publish format-standard has-post-thumbnail category-travel cs-entry">
                          <div class="cs-entry__outer">
                            <div class="cs-entry__inner cs-entry__thumbnail cs-entry__overlay cs-overlay-ratio cs-ratio-landscape" data-scheme="inverse">
                              <div class="cs-overlay-background">
                                <img width="512" height="384" src="https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0208-512x384.webp" class="attachment-csco-thumbnail size-csco-thumbnail wp-post-image" alt="Road Tripping Across New Zealand: A Guide to the Island’s Best Kept Secrets" decoding="async" loading="lazy" srcset="https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0208-512x384.webp 512w, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0208-1024x768.webp 1024w" sizes="(max-width: 512px) 100vw, 512px" />
                              </div>
                              <a class="cs-overlay-link" href="https://swyft.codesupply.co/lifestyle/2023/09/20/road-tripping-across-new-zealand-a-guide-to-the-islands-best-kept-secrets/" title="Road Tripping Across New Zealand: A Guide to the Island’s Best Kept Secrets"></a>
                            </div>
                            <div class="cs-entry__inner cs-entry__content">
                              <div class="cs-entry__post-meta">
                                <div class="cs-meta-author">
                                  <span class="cs-meta-author-by">By</span>
                                  <a class="cs-meta-author-link url fn n" href="https://swyft.codesupply.co/lifestyle/author/joanna/">
                                    <span class="cs-meta-author-name">Joanna Wellick</span>
                                  </a>
                                </div>
                                <div class="cs-meta-date">Sep 20, 2023</div>
                              </div>
                              <h2 class="cs-entry__title">
                                <a href="https://swyft.codesupply.co/lifestyle/2023/09/20/road-tripping-across-new-zealand-a-guide-to-the-islands-best-kept-secrets/">
                                  <span>Road Tripping Across New Zealand: A Guide to the Island’s Best Kept Secrets</span>
                                </a>
                              </h2>
                              <div class="cs-entry__post-meta">
                                <div class="cs-meta-category">
                                  <ul class="post-categories">
                                    <li>
                                      <a href="https://swyft.codesupply.co/lifestyle/category/travel/" rel="category tag">Travel</a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </article>
                        <article class="post-2092 post type-post status-publish format-standard has-post-thumbnail category-lifestyle cs-entry">
                          <div class="cs-entry__outer">
                            <div class="cs-entry__inner cs-entry__thumbnail cs-entry__overlay cs-overlay-ratio cs-ratio-landscape" data-scheme="inverse">
                              <div class="cs-overlay-background">
                                <img width="512" height="384" src="https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0205-512x384.webp" class="attachment-csco-thumbnail size-csco-thumbnail wp-post-image" alt="Digital Detox: Unplugging to Reconnect with What Matters" decoding="async" loading="lazy" srcset="https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0205-512x384.webp 512w, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0205-1024x768.webp 1024w" sizes="(max-width: 512px) 100vw, 512px" />
                              </div>
                              <a class="cs-overlay-link" href="https://swyft.codesupply.co/lifestyle/2023/09/15/digital-detox-unplugging-to-reconnect-with-what-matters/" title="Digital Detox: Unplugging to Reconnect with What Matters"></a>
                            </div>
                            <div class="cs-entry__inner cs-entry__content">
                              <div class="cs-entry__post-meta">
                                <div class="cs-meta-author">
                                  <span class="cs-meta-author-by">By</span>
                                  <a class="cs-meta-author-link url fn n" href="https://swyft.codesupply.co/lifestyle/author/liam/">
                                    <span class="cs-meta-author-name">Liam Anderson</span>
                                  </a>
                                </div>
                                <div class="cs-meta-date">Sep 15, 2023</div>
                              </div>
                              <h2 class="cs-entry__title">
                                <a href="https://swyft.codesupply.co/lifestyle/2023/09/15/digital-detox-unplugging-to-reconnect-with-what-matters/">
                                  <span>Digital Detox: Unplugging to Reconnect with What Matters</span>
                                </a>
                              </h2>
                              <div class="cs-entry__post-meta">
                                <div class="cs-meta-category">
                                  <ul class="post-categories">
                                    <li>
                                      <a href="https://swyft.codesupply.co/lifestyle/category/lifestyle/" rel="category tag">Lifestyle</a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </article>
                        <article class="post-2090 post type-post status-publish format-standard has-post-thumbnail category-trends cs-entry">
                          <div class="cs-entry__outer">
                            <div class="cs-entry__inner cs-entry__thumbnail cs-entry__overlay cs-overlay-ratio cs-ratio-landscape" data-scheme="inverse">
                              <div class="cs-overlay-background">
                                <img width="512" height="384" src="https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/10/demo-image-0040-512x384.webp" class="attachment-csco-thumbnail size-csco-thumbnail wp-post-image" alt="From Athleisure to Workleisure: Response to Remote Work" decoding="async" loading="lazy" srcset="https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/10/demo-image-0040-512x384.webp 512w, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/10/demo-image-0040-1024x768.webp 1024w" sizes="(max-width: 512px) 100vw, 512px" />
                              </div>
                              <a class="cs-overlay-link" href="https://swyft.codesupply.co/lifestyle/2023/09/10/from-athleisure-to-workleisure-fashions-response-to-remote-work/" title="From Athleisure to Workleisure: Response to Remote Work"></a>
                            </div>
                            <div class="cs-entry__inner cs-entry__content">
                              <div class="cs-entry__post-meta">
                                <div class="cs-meta-author">
                                  <span class="cs-meta-author-by">By</span>
                                  <a class="cs-meta-author-link url fn n" href="https://swyft.codesupply.co/lifestyle/author/joanna/">
                                    <span class="cs-meta-author-name">Joanna Wellick</span>
                                  </a>
                                </div>
                                <div class="cs-meta-date">Sep 10, 2023</div>
                              </div>
                              <h2 class="cs-entry__title">
                                <a href="https://swyft.codesupply.co/lifestyle/2023/09/10/from-athleisure-to-workleisure-fashions-response-to-remote-work/">
                                  <span>From Athleisure to Workleisure: Response to Remote Work</span>
                                </a>
                              </h2>
                              <div class="cs-entry__post-meta">
                                <div class="cs-meta-category">
                                  <ul class="post-categories">
                                    <li>
                                      <a href="https://swyft.codesupply.co/lifestyle/category/trends/" rel="category tag">Trends</a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </article>
                        <article class="post-2088 post type-post status-publish format-standard has-post-thumbnail category-technology cs-entry">
                          <div class="cs-entry__outer">
                            <div class="cs-entry__inner cs-entry__thumbnail cs-entry__overlay cs-overlay-ratio cs-ratio-landscape" data-scheme="inverse">
                              <div class="cs-overlay-background">
                                <img width="512" height="384" src="https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0220-512x384.webp" class="attachment-csco-thumbnail size-csco-thumbnail wp-post-image" alt="Blockchain Unchained: How Distributed Ledger Technology is Transforming Industries" decoding="async" loading="lazy" srcset="https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0220-512x384.webp 512w, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0220-1024x768.webp 1024w" sizes="(max-width: 512px) 100vw, 512px" />
                              </div>
                              <a class="cs-overlay-link" href="https://swyft.codesupply.co/lifestyle/2023/09/05/blockchain-unchained-how-distributed-ledger-technology-is-transforming-industries/" title="Blockchain Unchained: How Distributed Ledger Technology is Transforming Industries"></a>
                            </div>
                            <div class="cs-entry__inner cs-entry__content">
                              <div class="cs-entry__post-meta">
                                <div class="cs-meta-author">
                                  <span class="cs-meta-author-by">By</span>
                                  <a class="cs-meta-author-link url fn n" href="https://swyft.codesupply.co/lifestyle/author/joanna/">
                                    <span class="cs-meta-author-name">Joanna Wellick</span>
                                  </a>
                                </div>
                                <div class="cs-meta-date">Sep 5, 2023</div>
                              </div>
                              <h2 class="cs-entry__title">
                                <a href="https://swyft.codesupply.co/lifestyle/2023/09/05/blockchain-unchained-how-distributed-ledger-technology-is-transforming-industries/">
                                  <span>Blockchain Unchained: How Distributed Ledger Technology is Transforming Industries</span>
                                </a>
                              </h2>
                              <div class="cs-entry__post-meta">
                                <div class="cs-meta-category">
                                  <ul class="post-categories">
                                    <li>
                                      <a href="https://swyft.codesupply.co/lifestyle/category/technology/" rel="category tag">Technology</a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </article>
                        <article class="post-2086 post type-post status-publish format-standard has-post-thumbnail category-travel cs-entry">
                          <div class="cs-entry__outer">
                            <div class="cs-entry__inner cs-entry__thumbnail cs-entry__overlay cs-overlay-ratio cs-ratio-landscape" data-scheme="inverse">
                              <div class="cs-overlay-background">
                                <img width="512" height="384" src="https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0030-512x384.webp" class="attachment-csco-thumbnail size-csco-thumbnail wp-post-image" alt="Eco-friendly Travel: How to Explore the World Sustainably" decoding="async" loading="lazy" srcset="https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0030-512x384.webp 512w, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0030-1024x768.webp 1024w" sizes="(max-width: 512px) 100vw, 512px" />
                              </div>
                              <a class="cs-overlay-link" href="https://swyft.codesupply.co/lifestyle/2023/08/30/eco-friendly-travel-how-to-explore-the-world-sustainably/" title="Eco-friendly Travel: How to Explore the World Sustainably"></a>
                            </div>
                            <div class="cs-entry__inner cs-entry__content">
                              <div class="cs-entry__post-meta">
                                <div class="cs-meta-author">
                                  <span class="cs-meta-author-by">By</span>
                                  <a class="cs-meta-author-link url fn n" href="https://swyft.codesupply.co/lifestyle/author/liam/">
                                    <span class="cs-meta-author-name">Liam Anderson</span>
                                  </a>
                                </div>
                                <div class="cs-meta-date">Aug 30, 2023</div>
                              </div>
                              <h2 class="cs-entry__title">
                                <a href="https://swyft.codesupply.co/lifestyle/2023/08/30/eco-friendly-travel-how-to-explore-the-world-sustainably/">
                                  <span>Eco-friendly Travel: How to Explore the World Sustainably</span>
                                </a>
                              </h2>
                              <div class="cs-entry__post-meta">
                                <div class="cs-meta-category">
                                  <ul class="post-categories">
                                    <li>
                                      <a href="https://swyft.codesupply.co/lifestyle/category/travel/" rel="category tag">Travel</a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </article>
                        <article class="post-2084 post type-post status-publish format-standard has-post-thumbnail category-lifestyle cs-entry">
                          <div class="cs-entry__outer">
                            <div class="cs-entry__inner cs-entry__thumbnail cs-entry__overlay cs-overlay-ratio cs-ratio-landscape" data-scheme="inverse">
                              <div class="cs-overlay-background">
                                <img width="512" height="384" src="https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0213-512x384.webp" class="attachment-csco-thumbnail size-csco-thumbnail wp-post-image" alt="Sustainable Fashion: Making Conscious Choices for Your Wardrobe" decoding="async" loading="lazy" srcset="https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0213-512x384.webp 512w, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/11/demo-image-0213-1024x768.webp 1024w" sizes="(max-width: 512px) 100vw, 512px" />
                              </div>
                              <a class="cs-overlay-link" href="https://swyft.codesupply.co/lifestyle/2023/08/25/sustainable-fashion-making-conscious-choices-for-your-wardrobe/" title="Sustainable Fashion: Making Conscious Choices for Your Wardrobe"></a>
                            </div>
                            <div class="cs-entry__inner cs-entry__content">
                              <div class="cs-entry__post-meta">
                                <div class="cs-meta-author">
                                  <span class="cs-meta-author-by">By</span>
                                  <a class="cs-meta-author-link url fn n" href="https://swyft.codesupply.co/lifestyle/author/liam/">
                                    <span class="cs-meta-author-name">Liam Anderson</span>
                                  </a>
                                </div>
                                <div class="cs-meta-date">Aug 25, 2023</div>
                              </div>
                              <h2 class="cs-entry__title">
                                <a href="https://swyft.codesupply.co/lifestyle/2023/08/25/sustainable-fashion-making-conscious-choices-for-your-wardrobe/">
                                  <span>Sustainable Fashion: Making Conscious Choices for Your Wardrobe</span>
                                </a>
                              </h2>
                              <div class="cs-entry__post-meta">
                                <div class="cs-meta-category">
                                  <ul class="post-categories">
                                    <li>
                                      <a href="https://swyft.codesupply.co/lifestyle/category/lifestyle/" rel="category tag">Lifestyle</a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </article>
                        <article class="post-2082 post type-post status-publish format-standard has-post-thumbnail category-trends cs-entry">
                          <div class="cs-entry__outer">
                            <div class="cs-entry__inner cs-entry__thumbnail cs-entry__overlay cs-overlay-ratio cs-ratio-landscape" data-scheme="inverse">
                              <div class="cs-overlay-background">
                                <img width="512" height="384" src="https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/10/demo-image-0025-512x384.webp" class="attachment-csco-thumbnail size-csco-thumbnail wp-post-image" alt="Gen Z’s Digital Landscape: Social Media Trends and Their Societal Impact" decoding="async" loading="lazy" srcset="https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/10/demo-image-0025-512x384.webp 512w, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/10/demo-image-0025-1024x768.webp 1024w" sizes="(max-width: 512px) 100vw, 512px" />
                              </div>
                              <a class="cs-overlay-link" href="https://swyft.codesupply.co/lifestyle/2023/08/20/gen-zs-digital-landscape-social-media-trends-and-their-societal-impact/" title="Gen Z’s Digital Landscape: Social Media Trends and Their Societal Impact"></a>
                            </div>
                            <div class="cs-entry__inner cs-entry__content">
                              <div class="cs-entry__post-meta">
                                <div class="cs-meta-author">
                                  <span class="cs-meta-author-by">By</span>
                                  <a class="cs-meta-author-link url fn n" href="https://swyft.codesupply.co/lifestyle/author/joanna/">
                                    <span class="cs-meta-author-name">Joanna Wellick</span>
                                  </a>
                                </div>
                                <div class="cs-meta-date">Aug 20, 2023</div>
                              </div>
                              <h2 class="cs-entry__title">
                                <a href="https://swyft.codesupply.co/lifestyle/2023/08/20/gen-zs-digital-landscape-social-media-trends-and-their-societal-impact/">
                                  <span>Gen Z’s Digital Landscape: Social Media Trends and Their Societal Impact</span>
                                </a>
                              </h2>
                              <div class="cs-entry__post-meta">
                                <div class="cs-meta-category">
                                  <ul class="post-categories">
                                    <li>
                                      <a href="https://swyft.codesupply.co/lifestyle/category/trends/" rel="category tag">Trends</a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </article>
                        <article class="post-2080 post type-post status-publish format-standard has-post-thumbnail category-technology cs-entry">
                          <div class="cs-entry__outer">
                            <div class="cs-entry__inner cs-entry__thumbnail cs-entry__overlay cs-overlay-ratio cs-ratio-landscape" data-scheme="inverse">
                              <div class="cs-overlay-background">
                                <img width="512" height="384" src="https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/10/demo-image-0016-512x384.webp" class="attachment-csco-thumbnail size-csco-thumbnail wp-post-image" alt="The Cybersecurity Landscape in 2023: Protecting Your Digital Frontier" decoding="async" loading="lazy" srcset="https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/10/demo-image-0016-512x384.webp 512w, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/10/demo-image-0016-1024x768.webp 1024w" sizes="(max-width: 512px) 100vw, 512px" />
                              </div>
                              <a class="cs-overlay-link" href="https://swyft.codesupply.co/lifestyle/2023/08/15/the-cybersecurity-landscape-in-2023-protecting-your-digital-frontier/" title="The Cybersecurity Landscape in 2023: Protecting Your Digital Frontier"></a>
                            </div>
                            <div class="cs-entry__inner cs-entry__content">
                              <div class="cs-entry__post-meta">
                                <div class="cs-meta-author">
                                  <span class="cs-meta-author-by">By</span>
                                  <a class="cs-meta-author-link url fn n" href="https://swyft.codesupply.co/lifestyle/author/liam/">
                                    <span class="cs-meta-author-name">Liam Anderson</span>
                                  </a>
                                </div>
                                <div class="cs-meta-date">Aug 15, 2023</div>
                              </div>
                              <h2 class="cs-entry__title">
                                <a href="https://swyft.codesupply.co/lifestyle/2023/08/15/the-cybersecurity-landscape-in-2023-protecting-your-digital-frontier/">
                                  <span>The Cybersecurity Landscape in 2023: Protecting Your Digital Frontier</span>
                                </a>
                              </h2>
                              <div class="cs-entry__post-meta">
                                <div class="cs-meta-category">
                                  <ul class="post-categories">
                                    <li>
                                      <a href="https://swyft.codesupply.co/lifestyle/category/technology/" rel="category tag">Technology</a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </article>
                        <article class="post-2078 post type-post status-publish format-standard has-post-thumbnail category-travel cs-entry">
                          <div class="cs-entry__outer">
                            <div class="cs-entry__inner cs-entry__thumbnail cs-entry__overlay cs-overlay-ratio cs-ratio-landscape" data-scheme="inverse">
                              <div class="cs-overlay-background">
                                <img width="512" height="384" src="https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/10/demo-image-0028-512x384.webp" class="attachment-csco-thumbnail size-csco-thumbnail wp-post-image" alt="Navigating the Markets of Marrakech: Tips and Tricks for First-Timers" decoding="async" loading="lazy" srcset="https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/10/demo-image-0028-512x384.webp 512w, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/10/demo-image-0028-1024x768.webp 1024w" sizes="(max-width: 512px) 100vw, 512px" />
                              </div>
                              <a class="cs-overlay-link" href="https://swyft.codesupply.co/lifestyle/2023/08/10/navigating-the-markets-of-marrakech-tips-and-tricks-for-first-timers/" title="Navigating the Markets of Marrakech: Tips and Tricks for First-Timers"></a>
                            </div>
                            <div class="cs-entry__inner cs-entry__content">
                              <div class="cs-entry__post-meta">
                                <div class="cs-meta-author">
                                  <span class="cs-meta-author-by">By</span>
                                  <a class="cs-meta-author-link url fn n" href="https://swyft.codesupply.co/lifestyle/author/joanna/">
                                    <span class="cs-meta-author-name">Joanna Wellick</span>
                                  </a>
                                </div>
                                <div class="cs-meta-date">Aug 10, 2023</div>
                              </div>
                              <h2 class="cs-entry__title">
                                <a href="https://swyft.codesupply.co/lifestyle/2023/08/10/navigating-the-markets-of-marrakech-tips-and-tricks-for-first-timers/">
                                  <span>Navigating the Markets of Marrakech: Tips and Tricks for First-Timers</span>
                                </a>
                              </h2>
                              <div class="cs-entry__post-meta">
                                <div class="cs-meta-category">
                                  <ul class="post-categories">
                                    <li>
                                      <a href="https://swyft.codesupply.co/lifestyle/category/travel/" rel="category tag">Travel</a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </article>
                        <article class="post-2076 post type-post status-publish format-standard has-post-thumbnail category-lifestyle cs-entry">
                          <div class="cs-entry__outer">
                            <div class="cs-entry__inner cs-entry__thumbnail cs-entry__overlay cs-overlay-ratio cs-ratio-landscape" data-scheme="inverse">
                              <div class="cs-overlay-background">
                                <img width="512" height="384" src="https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/10/demo-image-0006-512x384.webp" class="attachment-csco-thumbnail size-csco-thumbnail wp-post-image" alt="Self-Care Sunday: Rituals to Reset and Recharge for the Week Ahead" decoding="async" loading="lazy" srcset="https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/10/demo-image-0006-512x384.webp 512w, https://swyft.codesupply.co/lifestyle/wp-content/uploads/sites/2/2023/10/demo-image-0006-1024x768.webp 1024w" sizes="(max-width: 512px) 100vw, 512px" />
                              </div>
                              <a class="cs-overlay-link" href="https://swyft.codesupply.co/lifestyle/2023/08/05/self-care-sunday-rituals-to-reset-and-recharge-for-the-week-ahead/" title="Self-Care Sunday: Rituals to Reset and Recharge for the Week Ahead"></a>
                            </div>
                            <div class="cs-entry__inner cs-entry__content">
                              <div class="cs-entry__post-meta">
                                <div class="cs-meta-author">
                                  <span class="cs-meta-author-by">By</span>
                                  <a class="cs-meta-author-link url fn n" href="https://swyft.codesupply.co/lifestyle/author/joanna/">
                                    <span class="cs-meta-author-name">Joanna Wellick</span>
                                  </a>
                                </div>
                                <div class="cs-meta-date">Aug 5, 2023</div>
                              </div>
                              <h2 class="cs-entry__title">
                                <a href="https://swyft.codesupply.co/lifestyle/2023/08/05/self-care-sunday-rituals-to-reset-and-recharge-for-the-week-ahead/">
                                  <span>Self-Care Sunday: Rituals to Reset and Recharge for the Week Ahead</span>
                                </a>
                              </h2>
                              <div class="cs-entry__post-meta">
                                <div class="cs-meta-category">
                                  <ul class="post-categories">
                                    <li>
                                      <a href="https://swyft.codesupply.co/lifestyle/category/lifestyle/" rel="category tag">Lifestyle</a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </article>
                      </div>
                    </div>
                  </div>
                </div>
                {% include 'main/main_aside.html.twig' %}
              </div>
            </div>
          </div>
{% endblock %}
